/* Start contact Banner Section */
#contactBanner {
	min-height: 334px;
	background: url(../../images/contact.png) no-repeat center;
	background-size: cover;
	margin-top: 84px;
}

#contactBanner #overlay {
	background-color: rgba(0, 0, 0, 0.41);
	width: 100%;
	min-height: 334px;
}

.banner__content__contact {
	position: relative;

	p {
		color: var(--white);
		font-size: 40px;
		font-weight: var(--font-extrabold);
	}
}

.banner__content__contact span svg {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}

@media (max-width: 1200px) {
	#contactBanner {
		min-height: 300px;
		background-size: cover;
	}
}

/* End Banner Section */
#contact .contactDetail svg {
	width: 30px;
	height: 30px;
	color: var(--white);
	background-color: var(--secondary-color);
	border-radius: 50%;
	margin: 10px 0;
	padding: 18px;
}

#contact h3,
#contact h2 {
	font-size: 20px;
	font-weight: var(--font-bold);
	color: var(--primary-color);
}

#contact h2 {
	font-size: 30px;
}

#contact p {
	font-size: 18px;
	font-weight: var(--font-light);
}

#contact input,
#contact textarea {
	background-color: transparent;
	padding: 10px 0;
	border: none;
	caret-color: var(--primary-color);
	color: var(--primary-color);
	font-size: 13px;
	border-bottom: 1px solid #8a8a8a;
	width: 100%;
	margin-bottom: 15px;

	&::placeholder {
		color: #8a8a8a;
	}

	&:focus,
	&:focus-visible,
	&:active {
		outline: none;
	}
}